In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Salaries.csv')

In [3]:
data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [4]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [6]:
data['BasePay'].mean()

66325.44884050643

In [7]:
data['OvertimePay'].max()

245131.88

In [8]:
data[data['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [9]:
data[data['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [10]:
data[data.TotalPayBenefits == data.TotalPayBenefits.max()]
#data[data['TotalPayBenefits']==data['TotalPayBenefits'].max()]
#data.loc[data['TotalPayBenefits'].idxmax()]-->similar to pandas argmax method

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [11]:
data[data.TotalPayBenefits == data.TotalPayBenefits.min()]
#data[data['TotalPayBenefits']==data['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [12]:
byyear=data.groupby('Year')
#data.groupby('Year').mean()['BasePay']

In [13]:
byyear.describe()

           Id                                                         \
        count      mean           std       min        25%       50%
Year
2011  36159.0   18080.0  10438.348528       1.0    9040.50   18080.0
2012  36766.0   54542.5  10613.574335   36160.0   45351.25   54542.5
2013  37606.0   91728.5  10856.061448   72926.0   82327.25   91728.5
2014  38123.0  129593.0  11005.306493  110532.0  120062.50  129593.0

                           BasePay                ... Notes     Status       \
            75%       max    count          mean  ...   75% max  count mean
Year                                              ...
2011   27119.50   36159.0  36159.0  63595.956517  ...   NaN NaN    0.0  NaN
2012   63733.75   72925.0  36766.0  65436.406857  ...   NaN NaN    0.0  NaN
2013  101129.75  110531.0  37001.0  69630.030216  ...   NaN NaN    0.0  NaN
2014  139123.50  148654.0  38119.0  66564.421924  ...   NaN NaN    0.0  NaN


     std min 25% 50% 75% max
Year
2011 NaN NaN NaN NaN NaN NaN
2012 NaN NaN NaN NaN NaN NaN
2013 NaN NaN NaN NaN NaN NaN
2014 NaN NaN NaN NaN NaN NaN

[4 rows x 72 columns]

In [14]:
byyear['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [15]:
data['JobTitle'].nunique()
#len(data['JobTitle'].unique())

2159

In [40]:
data['JobTitle'].count()

148654

In [16]:
#data['JobTitle'].value_counts()[:5]
data['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [19]:
data[data['Year']==2013]['JobTitle'].value_counts()

Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
                                  ...
Airport Mechanical Maint Sprv        1
Law Librarian                        1
IS Technician Assistant              1
Court Interpreter Supervisor         1
Senior Transit Traffic Checker       1
Name: JobTitle, Length: 1051, dtype: int64

In [20]:
data[data['Year']==2013]['JobTitle'].value_counts()==1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
                                  ...
Airport Mechanical Maint Sprv      True
Law Librarian                      True
IS Technician Assistant            True
Court Interpreter Supervisor       True
Senior Transit Traffic Checker     True
Name: JobTitle, Length: 1051, dtype: bool

In [21]:
sum(data[data['Year']==2013]['JobTitle'].value_counts()==1)

202

In [22]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [24]:
sum(data['JobTitle'].apply(lambda x: chief_string(x)))

477

In [26]:
data['title_len'] = data['JobTitle'].apply(len)   #make a new column

In [27]:
data[['JobTitle','title_len']]

                                              JobTitle  title_len
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                      CAPTAIN III (POLICE DEPARTMENT)         31
2                      CAPTAIN III (POLICE DEPARTMENT)         31
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                ...        ...
148649                                       Custodian          9
148650                                    Not provided         12
148651                                    Not provided         12
148652                                    Not provided         12
148653                      Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [28]:
data[['JobTitle','title_len']].corr()   #perfect correlation between the two

           title_len
title_len        1.0

In [30]:
 data[['title_len','TotalPayBenefits']].corr()   #as such no correlation between the two

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Ecommerce Purchase Exercise

In [5]:
import pandas as pd

In [6]:
ecom=pd.read_csv('Ecommerce Purchases')

In [7]:
ecom.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [105]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [106]:
ecom['Purchase Price'].mean()

50.34730200000025

In [107]:
ecom['Purchase Price'].max()

99.99

In [108]:
ecom['Purchase Price'].min()

0.0

In [109]:
sum(ecom['Language']=='en')

1098

In [110]:
sum(ecom['Job']=='Lawyer')

30

In [111]:
ecom[ecom['Job']=='Lawyer'].count()
#ecom[ecom['Job']=='Lawyer'].info()
#len(ecom[ecom['Job']=='Lawyer'].index())
#To get all the counts for all the columns in a dataframe, it's just df.count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [112]:
ecom.groupby('AM or PM').count()

,Address,Lot,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
AM or PM,,,,,,,,,,,,,
AM,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932
PM,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068

In [113]:
ecom[ecom['AM or PM']=='AM'].count()

Address             4932
Lot                 4932
AM or PM            4932
Browser Info        4932
Company             4932
Credit Card         4932
CC Exp Date         4932
CC Security Code    4932
CC Provider         4932
Email               4932
Job                 4932
IP Address          4932
Language            4932
Purchase Price      4932
dtype: int64

In [114]:
sum(ecom['AM or PM']=='AM')

4932

In [115]:
sum(ecom['AM or PM']=='PM')

5068

In [146]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [116]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

In [117]:
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [120]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [137]:
def checkpurchase(x):
    if x>95:
        return True
    else:
        return False

In [148]:
#sum(ecom[ecom['CC Provider']=='American Express']['Purchase Price'].apply(lambda x: checkpurchase(x)))
#it can also be done by multiple conditions selection (recommended)
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()
#ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].info()
#len(ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].index())

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [139]:
def cardexpire(cardyear):
    if '25' in cardyear.split('/'):
        return True
    else:
        return False

In [140]:
sum(ecom['CC Exp Date'].apply(lambda x: cardexpire(x)))
#sum(ecom['CC Exp Date'].apply(lambda exp:exp[3:]=='25'))
#ecom[ecom['CC Exp Date'].apply(lambda exp:exp[3:]=='25')].count()

1033

In [151]:
example_email=ecom['Email'].iloc[0]

In [152]:
example_email.split('@')

['pdunlap', 'yahoo.com']

In [153]:
example_email.split('@')[1]

'yahoo.com'

In [154]:
ecom['Email'].apply(lambda email:email.split('@')[1]).value_counts()

hotmail.com           1638
yahoo.com             1616
gmail.com             1605
smith.com               42
williams.com            37
                      ...
collins.org              1
morton.net               1
miller-tran.com          1
sanders-powell.com       1
wright-scott.com         1
Name: Email, Length: 3416, dtype: int64

In [155]:
ecom['Email'].apply(lambda email:email.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64